.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
link {
    text-decoration: none;
}

.ant-carousel .slick-slide {
    height: 690px;
    overflow: hidden;
    background: #fff;
}

/*
Color schemes
*/

.grape {
    background-color: #94618e;
}
.eggplant {
    background-color: #49274a;
}
.sand {
    background-color: #f4decb;
}
.shell {
    background-color: #f8eee7;
}
.darkpink {
    background-color: #ff3355;
}

.grape-text {
    color: #94618e;
}
.eggplant-text {
    color: #49274a;
}
.sand-text {
    color: #f4decb;
}
.shell-text {
    color: #f8eee7;
}

.darkpink-text {
    color: #ff3355;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: #49274a;
}
/*
End of color schemes
*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ant-menu-item
    .ant-menu-item-selected-active
    .ant-menu-item-selected
    .customClass {
    background-color: #94618e !important;
}
